// Cores
$primary-color: #4a90e2;
$secondary-color: #7b8d93;
$background-color: #f4f5f7;
$text-color: #333;


// Espaçamento
$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 24px;
$border-radius: 4px;
